<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShareX-API | <%= data.name %>.<%= data.fileExtension %></title>
  <link rel="icon" type="image/x-icon" href="../files/favicon.ico">
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="stylesheet" href="../css/index.css">
  <meta name="theme-color" content="#000000" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="">
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <% if (img.endsWith(".mp4")) { %>
  <meta name="og:video:secure_url" content="<%= img %>">
  <meta property="og:video:type" content="video/mp4">
  <meta name="og:video" content="<%= img %>">
  <% } else { %>
  <meta property="og:image" content="<%= img %>" />
  <% } %>
</head>

<body>
  <main>
    <div class="container">
      <% if (img.endsWith(".mp4")) { %>
      <video controls>
        <source src="<%= img %>" type="video/mp4"> Your browser does not support the video tag.
      </video>
      <% } else { %>
      <img src="<%= img %>" alt="Image">
      <% } %>
      <div class="text">
        <p>Name - <%= data.name %></p>
        <div class="tooltip">
          <p>Time - <%= getTime(data.timestamp.unix, Intl.DateTimeFormat().resolvedOptions().timeZone) %></p><span class="tooltiptext">UTC - <%= data.timestamp.utc %></span>
        </div>
        <p>Date - <%= getDate(data.timestamp.unix, Intl.DateTimeFormat().resolvedOptions().timeZone) %></p>
        <p>Size - <%= data.size.dynamic %></p>
      </div>
    </div>
  </main>
</body>