<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../files/favicon.ico">
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="<%= img %>" />
  <link rel="stylesheet" href="../css/index.css">
  <meta name="theme-color" content="#000000" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="">
  <title>File - <%= data.name %></title>
  <meta name="robots" content="noindex">
  <meta charset="UTF-8">
</head>

<body>
  <main>
    <% if (img.endsWith('.mp4')) { %>
      <video controls>
        <source src="<%= img %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <% } else { %>
        <img src="<%= img %>" alt="Image">
        <% } %>
          <div class="text">
            <h1>Name - <%= data.name %></h1>
            <div class="tooltip">
              <h1>Time - <%= getTime(data.timestamp.unix, Intl.DateTimeFormat().resolvedOptions().timeZone) %></h1>
              <span class="tooltiptext">UTC - <%= data.timestamp.utc %></span>
            </div>
            <h1>Date - <%= getDate(data.timestamp.unix, Intl.DateTimeFormat().resolvedOptions().timeZone) %></h1>
            <h1>Size - <%= data.size.dynamic %></h1>
          </div>
  </main>
</body>

</html>